<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Home
    </ion-title>
    <ion-button slot="end" color="medium" class="margin" id="help-menu-trigger">Click here for help</ion-button>
    <ion-popover trigger="help-menu-trigger" triggerAction="click">
      <ng-template>
    <ion-content class="ion-padding">
      <h2>
        Welcome to FilmTrack
      </h2>
      <p>
        In this app, you can see the latest and greatest movie releases, search your all-time favourites, and browse for new watches. 
      </p>
      <p>
        Click on any movie in the list below to take a closer look.
      </p>
      <p>
        You can also rate watched movies and add them to your personal library!
      </p>
      <p>
        This app uses an api created by TheMovieDB, available at https://www.themoviedb.org/settings/api. 
      </p>
      <p>
        I hope you enjoy this app!
      </p>
      <p>
        - Created by Fionn McCarthy
      </p>
    </ion-content>
  </ng-template>
    </ion-popover>
  </ion-toolbar>

  

  <!-- Tabs Bar -->
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']">
          Top Movies
          <ion-icon src="..\assets\icon\home.svg" alt="home" height="40" color="primary"></ion-icon>
        </ion-tab-button>
  
        <ion-tab-button [routerLink]="['/search']">
          Search
          <ion-icon src="..\assets\icon\search.svg" alt="search"></ion-icon>
        </ion-tab-button>
  
        <ion-tab-button [routerLink]="['/library']">
          Library
          <ion-icon src="..\assets\icon\library.svg" alt="library"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!-- Button linking to search page -->
  <!--
  <ion-buttons>
    <ion-button [routerLink]="['/search']">Search Movies</ion-button>
    <ion-button [routerLink]="['/library']">Library</ion-button>
  </ion-buttons>
  -->

  <!-- Code block displays fake skeleton list if the 
    httpclient is getting initial movie list -->
  @if (isLoading) {
  <ion-list>
    <!-- Loading SkeletonList -->
    @for (i of fakeArray; track i) {
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="height: 40px" />
    </ion-item>
    }
  </ion-list>
  <!-- Display error message if movies cannot be retrieved -->
  } @else if (error) {
  <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']" />
  }

  <!-- Display all movie items to screen in list -->
  <ion-list>

    @for (item of movies; track item.id) {
    <ion-item class="movie-list-item" [routerLink]="['/details', item.id]">
      <ion-avatar class="movie-poster" slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" alt="poster">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3> {{ item.title }} </h3>
        <p>Release Date: {{ item.release_date | date:'d/M/y' }}</p>
      </ion-label>
      @if (watchedMovieIds.includes(item.id.toString())) {
      <ion-badge slot="end" color="medium">Watched</ion-badge>
      }
      <ion-badge slot="end">IMDb Rating: {{ item.vote_average }}</ion-badge>
    </ion-item>
    } @empty {
    <!-- If list is empty and not loading, no movies found -->
    @if (!isLoading) {
    <ion-item lines="none">
      <ion-label class="ion-test-center">No movies found</ion-label>
    </ion-item>

    }
    }
  </ion-list>
  <!-- If reaching end of page, generate more 
movies and display loading symbol -->
  <ion-infinite-scroll (ionInfinite)="loadMoreMovies($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>