<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <!-- 
      There is a known bug with the IonToggle, where if the toggle startingState = true,
      then the intial click does not visually change the button's state
    -->
    <ion-toggle [enableOnOffLabels]="true" name="toggle" [checked]="isChecked" (click)="toggleClicked()" slot="end" style="padding-right: 5%;">Watched</ion-toggle>
    <ion-popover [isOpen]="isPopupActive">
      <ng-template>
          <ion-item>
            <ion-input id="ratingInput" type="number" [(ngModel)]="rating" label="Enter Rating: (0-10)" placeholder="Rating"></ion-input>
          </ion-item>
          <ion-button (click)="saveRating()">Save Rating</ion-button>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (movie(); as movie) {
    <ion-card>
      
      <!-- img tag does not provide good image resulution -->
      <!--
        <ion-avatar class="movie-poster">
        <img [src]="imageBaseUrl + '/w92' + movie.poster_path"    alt="poster">
        </ion-avatar>
      -->
      <div class="movie-poster" style="margin: auto;"
        [style.height.px]="400"
        [style.width.px]="400"
        
        [style.background-image]="'url(' + imageBaseUrl + '/w400' + movie?.poster_path + ')'"> 
      </div>

      <ion-card-header>
        <ion-card-title> {{ movie?.title }}</ion-card-title>
        <ion-card-subtitle> {{ movie.tagline }}</ion-card-subtitle>
        <ion-text color="tertiary">
          @for (genre of movie.genres; track genre.id; let isLast = $last;) {
            <span> {{ genre.name }} {{ !isLast ? ',' : '' }} </span>
          }
          <div>Country: {{movie.origin_country}}</div>
          <div>Release Date: {{movie.release_date | date:'d/M/y' }}</div>
          <div>Rating: {{movie.vote_average}}/10</div>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-label color="medium">{{ movie.overview }}</ion-label>

        <ion-item lines="none">
          @if (movie.budget == 0) {
            <ion-label>Movie budget is unavaible</ion-label>
          } @else {
            <ion-label>Budget: {{movie.budget | currency: 'USD' }}</ion-label>
          }
        </ion-item>
        <ion-buttons>
          @if (homepage === "") {
            <ion-button>Website Unavaible</ion-button>
          } @else {
            <ion-button color="tertiary" (click)="openMovieWebsite()">Official Website</ion-button>
          }
          
          <!--
          <ion-button>Watch Trailer</ion-button>
          -->
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
